.automation-page4-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.automation-page4-frame-automation-page {
  gap: 10px;
  width: 100%;
  height: 852px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.automation-page4-container1 {
  top: 31px;
  left: 0px;
  right: 0px;
  width: 373px;
  height: 794px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.automation-page4-rectangle1 {
  top: 40px;
  left: 100px;
  width: 166px;
  height: 65px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}
.automation-page4-menu1 {
  top: 0px;
  left: 11px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.automation-page4-group {
  top: 6px;
  left: 3px;
  width: 18px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.automation-page4-vector {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 12px;
  position: absolute;
}
.automation-page4-group1 {
  top: 47px;
  left: 121px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.automation-page4-vector1 {
  top: 2.544342291203506px;
  left: 3.845121161672722px;
  width: 22px;
  height: 27px;
  position: absolute;
}
.automation-page4-vector2 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 13px;
  position: absolute;
}
.automation-page4-text {
  top: 53px;
  left: 157px;
  color: rgba(0, 0, 0, 1);
  width: 104px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.automation-page4-navlink {
  display: contents;
}
.automation-page4-create-automation {
  top: 177px;
  left: 0px;
  width: 373px;
  height: 197px;
  position: absolute;
  text-decoration: none;
}
.automation-page4-navlink1 {
  display: contents;
}
.automation-page4-addtask1 {
  top: 298px;
  left: 171px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
}
.automation-page4-group2 {
  top: 3.3333332538604736px;
  left: 3.3333332538604736px;
  width: 36.66666793823242px;
  height: 33.33333206176758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.automation-page4-vector3 {
  top: 0px;
  left: 0px;
  width: 37px;
  height: 33px;
  position: absolute;
}
.automation-page4-rectangle4 {
  top: 386px;
  left: 0px;
  width: 373px;
  height: 197px;
  position: absolute;
}
.automation-page4-rectangle14 {
  left: 1px;
  width: 372px;
  bottom: 0px;
  height: 197px;
  position: absolute;
}
.automation-page4-text05 {
  left: 124px;
  color: rgba(255, 255, 255, 1);
  bottom: 126.60000610351562px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.automation-page4-help1 {
  left: 167px;
  width: 40px;
  bottom: 72px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.automation-page4-group3 {
  top: 3.3333332538604736px;
  left: 3.3333332538604736px;
  width: 33.33333206176758px;
  height: 33.33333206176758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.automation-page4-vector4 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.automation-page4-text07 {
  left: 81px;
  color: rgba(255, 255, 255, 1);
  bottom: 309.1999969482422px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.automation-page4-cycle1 {
  left: 167px;
  width: 40px;
  bottom: 253px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.automation-page4-group4 {
  top: 3.332754611968994px;
  left: 1.043081283569336e-7px;
  width: 40px;
  height: 33.33449172973633px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.automation-page4-vector5 {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 28px;
  position: absolute;
}
.automation-page4-vector6 {
  top: 5.0005784034729px;
  left: 19.165922164916992px;
  width: 21px;
  height: 28px;
  position: absolute;
}
.automation-page4-rectangle13 {
  top: 117px;
  left: 0px;
  width: 373px;
  height: 46px;
  position: absolute;
}
.automation-page4-text12 {
  top: 126px;
  left: 37px;
  color: rgba(255, 255, 255, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.automation-page4-create-automation-text {
  top: 204px;
  left: 62px;
  color: rgba(255, 255, 255, 1);
  width: 270px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
