.sign-up-page2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: rgba(110, 212, 234, 0.27);
}
.sign-up-page2-container1 {
  top: 21px;
  left: 0px;
  right: 0px;
  width: 393.01666259765625px;
  height: 599.6000061035156px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.sign-up-page2-frame7 {
  gap: 10px;
  top: 65px;
  left: 100px;
  width: 186px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-page2-rectangle1 {
  width: 166px;
  height: 65px;
  align-self: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}
.sign-up-page2-group {
  top: 91px;
  left: 131.30845642089844px;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-up-page2-vector {
  top: 2.544342291203506px;
  left: 3.845121161672722px;
  width: 22px;
  height: 27px;
  position: absolute;
  align-self: center;
}
.sign-up-page2-vector1 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 13px;
  position: absolute;
  align-self: center;
}
.sign-up-page2-group1 {
  top: 83px;
  left: 157px;
  width: 84px;
  height: 50px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 1;
}
.sign-up-page2-frame6 {
  gap: 10px;
  top: 0px;
  left: 0px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-self: center;
  align-items: flex-start;
}
.sign-up-page2-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-page2-container2 {
  right: -1px;
  width: 393px;
  bottom: 27px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.sign-up-page2-navlink {
  display: contents;
}
.sign-up-page2-frame1 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 66px;
  position: absolute;
  align-self: center;
  text-decoration: none;
}
.sign-up-page2-navlink1 {
  display: contents;
}
.sign-up-page2-login-button-text {
  gap: 10px;
  top: 11px;
  left: 154px;
  width: 101px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  text-decoration: none;
}
.sign-up-page2-text5 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 20px;
  align-self: center;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-page2-text6 {
  top: 189px;
  left: 16px;
  color: rgb(0, 0, 0);
  width: 190px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: center;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sign-up-page2-input {
  top: 253px;
  right: 9px;
  width: 377px;
  height: 62px;
  position: absolute;
  align-self: stretch;
  border-radius: var(--dl-radius-radius-radius8);
}
.sign-up-page2-input1 {
  top: 340px;
  right: 9px;
  width: 377px;
  height: 62px;
  position: absolute;
  align-self: stretch;
  border-radius: var(--dl-radius-radius-radius8);
}
.sign-up-page2-input2 {
  top: 425px;
  left: 8px;
  width: 377px;
  height: 62px;
  position: absolute;
  align-self: stretch;
  border-radius: var(--dl-radius-radius-radius8);
}
.sign-up-page2-navlink2 {
  left: 86px;
  bottom: -11px;
  position: absolute;
  text-decoration: none;
}
.sign-up-page2-social-bar {
  top: 696px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: absolute;
  justify-content: center;
}
.sign-up-page2-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.sign-up-page2-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.sign-up-page2-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.sign-up-page2-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.sign-up-page2-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .sign-up-page2-container1 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .sign-up-page2-frame7 {
    top: 44px;
    left: 100.01666259765625px;
  }
  .sign-up-page2-group {
    top: 70px;
    left: 131.3333282470703px;
  }
  .sign-up-page2-group1 {
    top: 62px;
    left: 157.01666259765625px;
  }
  .sign-up-page2-frame1 {
    left: 0.01666259765625px;
    bottom: 91.60000610351562px;
  }
  .sign-up-page2-login-button-text {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 105px;
    bottom: 0px;
    margin: auto;
  }
  .sign-up-page2-text5 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .sign-up-page2-text6 {
    top: 168px;
    left: 16.01666259765625px;
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .sign-up-page2-input {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .sign-up-page2-input1 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .sign-up-page2-input2 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .sign-up-page2-navlink2 {
    right: 69px;
    bottom: -32px;
    margin: auto;
    position: absolute;
    align-self: flex-end;
  }
}
@media(max-width: 767px) {
  .sign-up-page2-input {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .sign-up-page2-input1 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .sign-up-page2-input2 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .sign-up-page2-navlink2 {
    right: 0px;
    margin: auto;
  }
  .sign-up-page2-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .sign-up-page2-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
