.menu1-menu1 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu1-container {
  top: 6px;
  left: 0px;
  width: 18px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.menu1-root-class-name {
  left: -193px;
  bottom: -6px;
  margin: auto;
  position: absolute;
}
@media(max-width: 991px) {
  .menu1-menu1 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .menu1-root-class-name {
    top: 151px;
    left: 246px;
  }
}
@media(max-width: 767px) {
  .menu1-root-class-name {
    top: 0px;
    left: 0px;
  }
}
@media(max-width: 479px) {
  .menu1-root-class-name {
    top: 0px;
    left: 0px;
    position: absolute;
  }
}
